<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- DynaTeam SQL Map configuration -->

<configuration>

	<properties resource="dm/mybatis.properties"></properties>

	<settings>
		<!-- 开启二级缓存-->
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="multipleResultSetsEnabled" value="true"/>
		<setting name="useColumnLabel" value="true"/>
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="autoMappingBehavior" value="PARTIAL"/>
		<setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
		<setting name="defaultExecutorType" value="SIMPLE"/>
		<setting name="defaultStatementTimeout" value="25"/>
		<setting name="defaultFetchSize" value="100"/>
		<setting name="safeRowBoundsEnabled" value="false"/>
		<setting name="mapUnderscoreToCamelCase" value="false"/>
		<setting name="localCacheScope" value="SESSION"/>
		<setting name="jdbcTypeForNull" value="OTHER"/>
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
	</settings>


	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
	</plugins>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:ORCL"/>
				<property name="username" value="PLM"/>
				<property name="password" value="PLM"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="dm/sql/aas/group.xml" />
		<mapper resource="dm/sql/dynaobject.xml" />
		<mapper resource="dm/sql/session.xml" />
		<mapper resource="dm/sql/folder.xml" />
		<mapper resource="dm/sql/shortObject.xml" />
		<mapper resource="dm/sql/searchcondition.xml" />
		<mapper resource="dm/sql/preferenceMaster.xml" />
		<mapper resource="dm/sql/preferenceDetail.xml" />
		<mapper resource="dm/sql/file.xml" />
		<mapper resource="dm/sql/transferFile.xml" />
		<mapper resource="dm/sql/configRuleRevise.xml" />
		<mapper resource="dm/sql/schedule.xml" />
		<mapper resource="dm/sql/configRuleViewHis.xml" />
		<mapper resource="dm/sql/configRuleBolm.xml" />
		<mapper resource="dm/sql/sysTrack.xml" />
		<mapper resource="dm/sql/configRuleBORevision.xml" />
		<mapper resource="dm/sql/emailServer.xml" />
		<mapper resource="dm/sql/saJobQueue.xml" />
		<mapper resource="dm/sql/biVersion.xml"/>
		<mapper resource="dm/sql/saUserWorkFolder.xml"/>
		<mapper resource="dm/sql/bomobject.xml"/>
		<mapper resource="dm/sql/relationobject.xml"/>
		<mapper resource="dm/sql/saLicenseOccupied.xml"/>
		<mapper resource="dm/sql/modelSync.xml" />
		<mapper resource="dm/sql/sync.xml" />
		<mapper resource="dm/sql/mafiletype.xml" />
		<mapper resource="dm/sql/treeDataRelation.xml" />

		<mapper resource="dm/sql/itf/interfaceData.xml" />
		<mapper resource="dm/sql/itf/interfaceRef.xml" />
		<mapper resource="dm/sql/itf/interfaceClass.xml" />

		<mapper resource="dm/sql/saCustomColumnsPreferenceMaster.xml"/>
		<mapper resource="dm/sql/saCustomColumnsPreferenceDetail.xml"/>

		<mapper resource="dm/sql/saQueryPreferenceMaster.xml" />
		<mapper resource="dm/sql/saQueryPreferenceDetail.xml" />

		<mapper resource="dm/sql/mailreceiver.xml" />
		<mapper resource="dm/sql/mailWorkFlow.xml"/>
		<mapper resource="dm/sql/mail.xml" />
		<mapper resource="dm/sql/mailattachment.xml" />

		<mapper resource="dm/sql/filebrowse/biFilebrowseRuleDetail.xml" />
		<mapper resource="dm/sql/filebrowse/biFilebrowseRuleMaster.xml" />
		<mapper resource="dm/sql/filebrowse/biFilebrowseRuleType.xml" />
		<mapper resource="dm/sql/filebrowse/biFilebrowseType.xml" />

		<mapper resource="dm/sql/checkrule/biCheckRule.xml"/>
		<mapper resource="dm/sql/checkrule/biCheckRuleEnd2.xml"/>
		<mapper resource="dm/sql/checkrule/biClassCondition.xml"/>
		<mapper resource="dm/sql/checkrule/biClassConditionDetail.xml"/>

		<mapper resource="dm/sql/aas/user.xml" />
		<mapper resource="dm/sql/aas/group.xml" />
		<mapper resource="dm/sql/aas/role.xml" />
		<mapper resource="dm/sql/aas/rig.xml" />
		<mapper resource="dm/sql/aas/urig.xml" />
		<mapper resource="dm/sql/aas/saUserAgent.xml"/>

		<mapper resource="dm/sql/relation/relationTemplate.xml" />
		<mapper resource="dm/sql/relation/relationTemplateEnd2.xml" />
		<mapper resource="dm/sql/relation/bomTemplate.xml" />
		<mapper resource="dm/sql/relation/bomTemplateEnd2.xml" />
		<mapper resource="dm/sql/relation/bomReportTemplate.xml" />

		<mapper resource="dm/sql/wf/wfActrt.xml" />
		<mapper resource="dm/sql/wf/wfAttach.xml" />
		<mapper resource="dm/sql/wf/wfAttachTemplate.xml" />
		<mapper resource="dm/sql/wf/wfLock.xml" />
		<mapper resource="dm/sql/wf/wfPerformer.xml" />
		<mapper resource="dm/sql/wf/wfPerformerTemplateDetail.xml" />
		<mapper resource="dm/sql/wf/wfPerformerTemplateMaster.xml" />
		<mapper resource="dm/sql/wf/wfProcrt.xml" />
		<mapper resource="dm/sql/wf/wfTrack.xml" />
		<mapper resource="dm/sql/wf/wfTrackAttach.xml" />
		<mapper resource="dm/sql/wf/wfTrackcomm.xml" />
		<mapper resource="dm/sql/wf/wfTranscdt.xml" />
		<mapper resource="dm/sql/wf/wfTransition.xml" />
		<mapper resource="dm/sql/wf/wfTransrst.xml" />

		<mapper resource="dm/sql/wft/wfTemplate.xml" />
		<mapper resource="dm/sql/wft/wfTemplateScopeBo.xml" />
		<mapper resource="dm/sql/wft/wfTemplateActrt.xml" />
		<mapper resource="dm/sql/wft/wfTemplateActrtBo.xml" />
		<mapper resource="dm/sql/wft/wfTemplateActrtBoClassUi.xml" />
		<mapper resource="dm/sql/wft/wfTemplateActrtBoView.xml" />
		<mapper resource="dm/sql/wft/wfTemplateNoticeSet.xml" />
		<mapper resource="dm/sql/wft/wfTemplateActrtCompany.xml" />
		<mapper resource="dm/sql/wft/wfTemplateActrtNoticeper.xml" />
		<mapper resource="dm/sql/wft/wfTemplateScopeRt.xml" />

		<mapper resource="dm/sql/mawf/workflowProcess.xml" />
		<mapper resource="dm/sql/mawf/workflowActivity.xml" />
		<mapper resource="dm/sql/mawf/workflowActrtAction.xml" />
		<mapper resource="dm/sql/mawf/workflowActrtLifecyclePhase.xml" />
		<mapper resource="dm/sql/mawf/workflowActrtStatus.xml" />
		<mapper resource="dm/sql/mawf/workflowEvent.xml" />
		<mapper resource="dm/sql/mawf/workflowLifecyclePhase.xml" />
		<mapper resource="dm/sql/mawf/workflowTransition.xml" />

		<mapper resource="dm/sql/cls/classAction.xml" />
		<mapper resource="dm/sql/cls/classField.xml" />
		<mapper resource="dm/sql/cls/classInfo.xml" />
		<mapper resource="dm/sql/cls/classFieldCRDetail.xml" />
		<mapper resource="dm/sql/cls/numberModel.xml" />
		<mapper resource="dm/sql/cls/numberDetail.xml" />
		<mapper resource="dm/sql/cls/classificationField.xml" />
		<mapper resource="dm/sql/cls/classificationModel.xml"/>
		<mapper resource="dm/sql/cls/classificationFecture.xml"/>
		<mapper resource="dm/sql/cls/classificationFectureItem.xml"/>
		<mapper resource="dm/sql/cls/classificationNumberField.xml"/>

		<mapper resource="dm/sql/ui/ui.xml" />
		<mapper resource="dm/sql/ui/uiAction.xml" />
		<mapper resource="dm/sql/ui/uiField.xml" />
		<mapper resource="dm/sql/ui/classificationUiField.xml" />
		<mapper resource="dm/sql/ui/classificationUi.xml" />

		<mapper resource="dm/sql/bm/boInfo.xml" />
		<mapper resource="dm/sql/bm/bmInfo.xml" />

		<mapper resource="dm/sql/erp/erpTransferLog.xml" />
		<mapper resource="dm/sql/erp/configERP.xml" />
		<mapper resource="dm/sql/erp/configERPBO.xml" />
		<mapper resource="dm/sql/erp/configERPCorp.xml" />
		<mapper resource="dm/sql/erp/erpTempTable.xml"/>
		<mapper resource="dm/sql/erp/erpTempTableInfo.xml"/>

		<mapper resource="dm/sql/ppm/ppmDeliverable.xml" />
		<mapper resource="dm/sql/ppm/ppmDeliverableItem.xml" />
		<mapper resource="dm/sql/ppm/ppmEarlyWarning.xml" />
		<mapper resource="dm/sql/ppm/ppmLaborHourConfig.xml" />
		<mapper resource="dm/sql/ppm/ppmMessageRule.xml" />
		<mapper resource="dm/sql/ppm/ppmProjectMileStoneCheckpoint.xml" />
		<mapper resource="dm/sql/ppm/ppmProjectRole.xml" />
		<mapper resource="dm/sql/ppm/ppmRoleMembers.xml" />
		<mapper resource="dm/sql/ppm/ppmTaskRelation.xml" />
		<mapper resource="dm/sql/ppm/ppmTaskResource.xml" />
		<mapper resource="dm/sql/ppm/ppmUpdateTaskStatus.xml" />
		<mapper resource="dm/sql/ppm/ppmWarningNotifier.xml" />
		<mapper resource="dm/sql/ppm/ppmRptProject.xml" />
		<mapper resource="dm/sql/ppm/ppmRptDeptStat.xml" />
		<mapper resource="dm/sql/ppm/ppmRptManagerStat.xml" />
		<mapper resource="dm/sql/ppm/ppmRptMilestone.xml" />
		<mapper resource="dm/sql/ppm/ppmRptDeliverable.xml" />
		<mapper resource="dm/sql/ppm/ppmRptTask.xml" />
		<mapper resource="dm/sql/ppm/ppmRptTaskDeptStat.xml" />
		<mapper resource="dm/sql/ppm/ppmRptTaskExecutorStat.xml" />
		<mapper resource="dm/sql/ppm/ppmRptTaskExecStateStat.xml" />
		<mapper resource="dm/sql/ppm/ppmUpdateWorkItem.xml"/>
		<mapper resource="dm/sql/ppm/ppmUpdateRemark.xml"/>
		<mapper resource="dm/sql/ppm/ppmRptWorkItem.xml"/>
		<mapper resource="dm/sql/ppm/ppmRptWorkItemDeptStat.xml"/>
		<mapper resource="dm/sql/ppm/ppmRptWorkItemExecStateStat.xml"/>
		<mapper resource="dm/sql/ppm/ppmRptWorkItemExecutorStat.xml"/>
		<mapper resource="dm/sql/ppm/ppmCalendar.xml" />
		<mapper resource="dm/sql/ppm/ppmCalendarSpecialDate.xml" />
		<mapper resource="dm/sql/ppm/ppmCalendarSpecialDateTime.xml" />
		<mapper resource="dm/sql/ppm/ppmIndicatorVal.xml"/>
		<mapper resource="dm/sql/ppm/ppmIndicatorMonthlyList.xml"/>

		<mapper resource="dm/sql/biClassificationNumberTrans.xml"/>
		<mapper resource="dm/sql/biSerialNumber.xml"/>

		<mapper resource="dm/sql/trans/biTransformQueue.xml"/>
		<mapper resource="dm/sql/trans/biTransformConfig.xml"/>
		<mapper resource="dm/sql/trans/biTransformWFConfig.xml"/>
		<mapper resource="dm/sql/trans/biTransformObjectConfig.xml"/>
		<mapper resource="dm/sql/trans/biTransformManualConfig.xml"/>
		<mapper resource="dm/sql/trans/biTransformFieldMapping.xml"/>
		<mapper resource="dm/sql/trans/biTransformSign.xml"/>
		<mapper resource="dm/sql/trans/biTransformSignParam.xml"/>
		<mapper resource="dm/sql/trans/biTransformSignParamObjectMap.xml"/>
		<mapper resource="dm/sql/trans/biTransformSignParamWFMap.xml"/>
		<mapper resource="dm/sql/trans/biTransformManualPer.xml"/>
		<mapper resource="dm/sql/trans/biTransformServers.xml"/>

		<mapper resource="dm/sql/cpb/cpTableOfList.xml"/>
		<mapper resource="dm/sql/cpb/cpTableOfGroup.xml"/>
		<mapper resource="dm/sql/cpb/cpTableOfParameter.xml"/>
		<mapper resource="dm/sql/cpb/cpTableOfRegion.xml"/>
		<mapper resource="dm/sql/cpb/cpTableOfMark.xml"/>
		<mapper resource="dm/sql/cpb/cpTableOfInputVariable.xml"/>
		<mapper resource="dm/sql/cpb/cpTableOfExpression.xml"/>
		<mapper resource="dm/sql/cpb/cpTableTitle.xml"/>
		<mapper resource="dm/sql/cpb/cpDynamicColumn.xml"/>
		<mapper resource="dm/sql/cpb/maPDColumn.xml"/>
		<mapper resource="dm/sql/cpb/maPDTitle.xml"/>
		<mapper resource="dm/sql/cpb/cpMultiVariable.xml"/>

		<mapper resource="dm/sql/lf/lifecycleDetail.xml"/>
		<mapper resource="dm/sql/lf/lifecycleGate.xml"/>
		<mapper resource="dm/sql/lf/lifecycleMaster.xml"/>

		<mapper resource="dm/sql/code/codeItemInfo.xml"/>
		<mapper resource="dm/sql/code/codeObjectInfo.xml"/>

		<mapper resource="dm/sql/acl/saAclFolderLibConf.xml" />
		<mapper resource="dm/sql/acl/aclsubject.xml" />
		<mapper resource="dm/sql/acl/aclDetail.xml" />
		<mapper resource="dm/sql/acl/folderACLItem.xml" />
		<mapper resource="dm/sql/acl/publicSearcACLItem.xml" />
		<mapper resource="dm/sql/acl/shareFolderAclItem.xml" />
		<mapper resource="dm/sql/acl/aclFunctionObject.xml" />
		<mapper resource="dm/sql/acl/aclFunctionitem.xml" />
	</mappers>

</configuration>